<div class="input-section">
            <h1>Upload Your Csv file</h1>
        <form action="/sendCsv" class="form-for-csv" method="post" enctype="multipart/form-data">
            <label class="custom-file-upload">
                <input type="file" name="csv"> Custom CSV </label>  
                  <button type="submit">Uplode</button>
        </form>
        </div>
  
    
